.ay7aga{
    background-color: red;
    height: 200px;
    width: 200px;
}

.x{background-color: black;height: 200px;width:200px;}
.y{background-color: blue;height: 200px;width:200px;}
.z{ height: auto!important;}